<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <title>Início</title>
</head>
<body>
    
    <header>
        <a href="">Início</a>
        <a href="topicos/topicos.html">Gerenciar Tópicos</a>
    </header>


    <main class="box">
        <div style="width: 100%; display: flex; justify-content: end;">
            <a href="topicos/topicos.html" class="button">Gerenciar Tópicos</a>
        </div>
    </main>

</body>
</html>